.container{
    background-color: black;
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
}
    
.post-containe{
    margin: 5%;
    width: 455px;
    height: 600px;
}
.post-img{
    width: 100%;     
    height: 350px;
}
.custom-img{
    width: fit-content;
    max-width: 100%;
}
.header{
    background-color: white;
  height: 60px;
  display: flex;

}
.ellipsis-verticalfa{
    padding-left: 335px;
    padding-top: 20px;
   
}
.logo{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.post-conos{
    display: flex;
}
.corazon{
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 8px;
}
.mensaje{
    padding-top: 20px;
    padding-left:8px ;
    padding-right: 2px; 
}
.avion{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 2px; 
}
.guardar{
    padding-left: 270px;
    padding-right: 4px;
    padding-top: 20px;
}
.post-body-1{
    padding-left: 15px;
}
.post-body-2{
    padding-left: 15px;
}
.post-body{
    width: 100%;
    height: 190px;
    background-color: white;
}


 
